.output {
    &-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80vh;
    }

    &-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        box-shadow: 1px 1px 10px #999;
        width: 450px;
        height: 400px;
        padding: 50px;
        border-radius: 15px;
    }

    &-inp {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        input {
            padding: 12px 12px;
            border: none;
            border: 2px solid #9ca3af;
            outline: none;
            border-radius: 12px;
            font-size: 16px;
            font-weight: 500;
        }

        select {
            padding: 12px 12px;
            border: none;
            border: 2px solid #9ca3af;
            outline: none;
            border-radius: 12px;
            font-size: 16px;
            font-weight: 600;
        }
    }

    &-save-button {
        width: 100%;
        padding: 14px;
        background-color: #22c55e;
        border-radius: 12px;
        color: white;
        font-weight: 600;
        letter-spacing: 2px;
    }
}